<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>(Username) Tasks</title>
</head>
<body>

    <h1 id="welcome-heading">Welcome</h1>
    
    <script>
        const welcomeHead = document.getElementById('welcome-heading');

        
        const verifyToken = async () => {
            const jwtToken = localStorage.getItem('jwtToken');
            console.log(jwtToken);
            if (jwtToken) {
                try {
                    const response = await axios.post('/api/verifyToken', {}, {
                        headers: {
                            'Authorization': `Bearer ${jwtToken}`,
                        }
                    });

                    if (response.statusText === 'OK') {
                        axios.defaults.headers.common['Authorization'] = `Bearer ${jwtToken}`;
                    }
                } catch (err) {
                    const responseData = err.response.data;
                    window.stop();
                    alert(responseData.message);
                    window.location.href = '/login';
                }
            } else  {
                alert('No token. You need to login first.')
                window.location.href = '/login';
            }
            
        }

        verifyToken();
    </script>

</body>
</html>