<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management System</title>
</head>
<body>
    <form action="/api/auth/signup" method="post">
        Username:
        <input type="text" value="altaf" name="username" required>
        Password:
        <input type="password" value="123" name="password" required>
        <!-- Confirm Password:
        <input type="password"> -->
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>