@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /* background-color: #FAD643; */
    /* color: #382502; */
}


.top-taskbar {
    position: sticky;
    top: 0;
    margin: 0;
    display: block;
    height: 30px;
    color: white;
    background-color: black;
    z-index: 100;
}

.message-container p {
    display: inline;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 15px;
    margin: 0;
}

.logout-container {
    display: inline;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.logout-container button {
    background-color: rgb(186, 2, 2);
    border-radius: 5px;
    padding: 2px 5px;
    border: 0;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

#logout-btn:hover,
#logout-btn:focus {
    cursor: pointer;
    background-color: red;
}

#logout-btn:active {
    transition: none;
    cursor: pointer;
    background-color: rgb(214, 0, 0);
}

.container {
    /* background-color: #f4d143; */
    padding: 20px;
    box-sizing: border-box;
    width: 875px;
    margin: 20px auto;
    border: 1px black solid;
    border-radius: 5px;
}

.task-header-container {
    display: inline-block;
    height: 66px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 0 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.task-header-container:hover {
    cursor: pointer;
    background-color: rgb(217, 217, 217);
}

.top-heading {
    position: relative;
}

.add-task-btn {
    position: absolute;
    float: right;
    margin-bottom: 5px;
    right: 0;
    bottom: 0;
}

#new-btn {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#new-btn:hover {
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}

.add-task-btn button {
    background-color: white;
    border: 0;
    font-weight: 700;
}

.add-task-btn i {
    padding: 0 5px;
}

.separator {
    border-top: 2px solid black;
    border-radius: 10px;
}

.tasks {
    display: none;
}

table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid black;
    padding-bottom: 7px;
    margin-bottom: -10px;
}

td {
    padding: 5px 0;
}

th {
    text-align: left;
}


.description {
    padding-left: 5px;
}

.status-select {
    border: 0;
}

.td-number {
    width: 30px;
    text-align: center;
}

select {
    cursor: pointer;
}

.action-column {
    display: flex;
    justify-content: start;
    gap: 15px;
}

.delete-btn {
    outline: none;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #ba0202;
    border-radius: 5px;
    color: rgb(186, 2, 2);
    font-size: 15px;
    transition: all 0.3s ease;
}

.delete-btn:hover,
.delete-btn:focus {
    cursor: pointer;
    background-color: #ba0202;
    color: white;
}

.delete-btn:active {
    transition: none;
    background-color: red;
    border-color: red;
}