@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /* background-color: #FAD643; */
    /* color: #382502; */
}

.add-task-dialog {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 128, 0.5);
    backdrop-filter: blur(2px);
    z-index: 9999;
}

.input-container {
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 450px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 20px;
}

.input-container p {
    display: none;
    /* transition: display 0.5s ease; */
    font-size: 15px;
    font-weight: bold;
    color: red;
}

#descInput {
    transition: all 0.3s ease;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    font-family: inherit;
    font-weight: 700;
    width: 95%;
    background-color: rgba(244, 244, 244, 0.841);
    outline: none;
}

#descInput:hover {
    background-color: white;
}

#descInput:focus {
    background-color: white;
}

.button-container {
    margin: 10px 0;
    text-align: right;
}

.button-container button {
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px;
    width: 15%;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    outline: none;
}

#confirm-add-btn {
    border: 1px solid rgb(0, 98, 255);
    color: rgb(0, 98, 255);
}

#confirm-add-btn:hover,
#confirm-add-btn:focus {
    background-color: rgb(0, 98, 255);
    color: white;
}

#confirm-add-btn:active {
    transition: none;
    background-color: rgb(0, 68, 177);
    border: 1px solid rgb(0, 68, 177);

}

#cancel-add-btn {
    border: 1px solid rgb(230, 0, 0);
    color: rgb(230, 0, 0);
}

#cancel-add-btn:hover,
#cancel-add-btn:focus {
    background-color: rgb(230, 0, 0);
    color: white;
}

#cancel-add-btn:active {
    transition: none;
    background-color: rgb(196, 0, 0);
    border: 1px solid rgb(196, 0, 0);

}

.top-taskbar {
    position: sticky;
    top: 0;
    margin: 0;
    display: block;
    height: 30px;
    color: white;
    background-color: black;
    z-index: 100;
}

.message-container p {
    display: inline;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 15px;
    margin: 0;
}

.logout-container {
    display: inline;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.logout-container button {
    background-color: rgb(186, 2, 2);
    border-radius: 5px;
    padding: 2px 5px;
    border: 0;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

#logout-btn:hover,
#logout-btn:focus {
    cursor: pointer;
    background-color: red;
}

.container {
    /* background-color: #f4d143; */
    padding: 20px;
    box-sizing: border-box;
    width: 875px;
    margin: 20px auto;
    border: 1px black solid;
    border-radius: 5px;
}

.task-header-container {
    display: inline-block;
    height: 66px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 0 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.task-header-container:hover {
    cursor: pointer;
    background-color: rgb(217, 217, 217);
}

.top-heading {
    position: relative;
}

/* TODO: Make this below the taskbar */
.add-task-btn {
    position: absolute;
    float: right;
    margin-bottom: 5px;
    right: 0;
    bottom: 0;
}

#new-btn {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#new-btn:hover {
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}

.add-task-btn button {
    background-color: white;
    border: 0;
    font-weight: 700;
}

.add-task-btn i {
    padding: 0 5px;
}

.separator {
    border-top: 2px solid black;
    border-radius: 10px;
}

.tasks {
    display: none;
}

table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
}

#table-head {
}

th {
    border-bottom: 2px solid black;
    padding-bottom: 7px;
    margin-bottom: -10px;
}

td {
    padding: 5px 0;
}

th {
    text-align: left;
}


.description {
    padding-left: 5px;
}

.status-select {
    border: 0;
}

.td-number {
    width: 30px;
    text-align: center;
}
